name: Release CI
on:
  push:
    branches:
      - master
      - alpha
      - beta
      - rc

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install bun
        uses: oven-sh/setup-bun@v1

      - name: Install deps
        run: bun i

      - name: CI
        run: bun run ci

      - name: Test
        run: bun run test

      - name: Build
        run: bun run build

      # npm 8 和 9 会在 `npm version` 时执行依赖树命令，进而报错退出
      # Refs: https://github.com/semantic-release/npm/issues/540
      - name: Setup npm 7
        run: npm i -g npm@7 --registry=https://registry.npmjs.org

      - name: Release
        run: bun run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
